<div>
  <div id="waveform"></div>
  <div class="actions">
    <a
      *ngIf="activeRelease() && !isPlaying()"
      class="inline-link"
      (click)="playOrPause()"
      data-name="PlayAction"
    >
      Play
    </a>
    <a
      *ngIf="activeRelease() && isPlaying()"
      class="inline-link"
      (click)="playOrPause()"
      data-name="PauseAction"
    >
      Pause
    </a>
    <a
      *ngIf="releaseUrl"
      [href]="releaseUrl"
      target="__blank"
      class="inline-link"
    >
      Full release
    </a>
    <a
      *ngIf="!releaseUrl"
      href="https://www.ninaprotocol.com/"
      target="__blank"
      class="inline-link"
    >
      https://www.ninaprotocol.com/
    </a>
  </div>
</div>
