.cover {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: inline-block;
  min-height: 100px;
  min-width: 100px;
  background: #eb4034;
}

.cover.active .cover-details {
  opacity: 1;
}

.cover-image {
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cover-details {
  position: absolute;
  opacity: 0;
  top: 0;
  width: calc(100% - 32px);
  height: calc(100% - 32px);
  background: rgba(34, 34, 34, 0.7);
  color: white;
  padding: 16px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  transition: 0.15s all ease-out;
}

.title,
.publisher {
  width: 100%;
  min-height: 24px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 16px;
}

.description {
  margin-top: 16px;
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 50px;
}
