.app-header {
  z-index: 1;
  width: 100%;
  position: fixed;
}

.content {
  margin: auto;
  display: block;
  max-width: var(--contentMaxWidth);

  .app-home {
    display: block;
    padding-top: var(--headerHeight);
    padding-bottom: var(--footerHeight);

    @media only screen and (max-width: 600px) {
      padding-top: var(--headerHeightMobile);
    }
  }
}
