/* You can add global styles to this file, and also import other style files */
:root {
  --contentMaxWidth: 800px;
  --headerHeight: 90px;
  --headerHeightMobile: 130px;
  --footerHeight: 80px;
}

.arimo-400 {
  font-family: "Arimo", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
}

.btn-primary {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  letter-spacing: 0.5px;
  background-color: #00bcd4;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 8px;

  &:hover {
    background-color: #126a75;
    transition: all 0.3s ease-in-out;
  }
}

.inline-link {
  margin: 4px;
  padding: 8px;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  color: #00bcd4;
  text-decoration: none;
  padding: 0 4px;
  border-bottom: 2px solid #00bcd4;
  transition: all 0.3s ease-in-out;
  letter-spacing: 0.5px;
  cursor: pointer;
}

.inline-link:hover {
  color: #126a75;
  border-color: #126a75;
}

.inline-link:active {
  transform: scale(0.98);
}

input {
  color: #333333;
  padding: 8px;
  border: 2px solid #333333;
  transition: border 50ms;
  font-size: 16px;
}

input:focus-visible {
  outline: none;
  border: 2px solid #00bcd4;
}

input::placeholder {
  opacity: 0.4;
  color: #333333;
}
