<div class="home" *ngIf="data$ | async as data">
  <app-loader class="loader" *ngIf="data.loading"></app-loader>
  <div class="grid" *ngIf="data.releases.length > 0">
    <div *ngFor="let release of data.releases">
      <app-release-cover
        [release]="release.metadata"
        [publisher]="release.publisherAccount.displayName"
        [isActive]="release.slug === activeReleaseSlug()"
      ></app-release-cover>
      <div class="play-button-wrapper">
        <button
          class="play-button"
          [ngClass]="{
            pause: release.slug === activeReleaseSlug() && isPlaying()
          }"
          (click)="playOrPause(release)"
        ></button>
      </div>
    </div>
  </div>
  <div class="player-container">
    <app-player></app-player>
  </div>
</div>
