<div class="home">
  <div class="grid">
    <div *ngFor="let release of releases()">
      <app-release-cover
        [release]="release.metadata"
        [publisher]="release.publisherAccount.displayName"
        [isActive]="release.slug === selectedSlug()"
      ></app-release-cover>
      <div class="play-button-wrapper">
        <button
          class="play-button"
          [ngClass]="{ paused: release.slug === playingSlug() }"
          (click)="playOrPause(release)"
        ></button>
      </div>
    </div>
  </div>
  <div class="player-container">
    <button
      (click)="handleClickNext()"
      class="btn-primary"
      [style]="{ marginTop: '16px' }"
    >
      Refresh
    </button>
    <div id="waveform"></div>
    <div class="actions">
      <a
        *ngIf="playingSlug().length > 0"
        class="inline-link"
        (click)="stopPlayback()"
      >
        Pause
      </a>
      <a
        *ngIf="releaseUrl"
        [href]="releaseUrl"
        target="__blank"
        class="inline-link"
      >
        To the release
      </a>
      <a
      *ngIf="!releaseUrl"
      href="https://www.ninaprotocol.com/"
      target="__blank"
      class="inline-link"
    >
    https://www.ninaprotocol.com/
    </a>
    </div>
  </div>
</div>
